<div class="flex flex-col w-full min-h-screen items-center bg-gray-900 gap-2">
  <h1 class="text-center text-white text-7xl">Rick & Morty</h1>
  <h2 class="text-center text-white text-5xl">Tournament</h2>
  <div class="bg-gray-700 flex flex-col justify-center rounded p-2 shadow-lg m-4">
    <h1 class="text-center text-white text-2xl font-bold">How does it work?</h1>
    <p class="text-center text-white">Below there are two cards with two characters.</p>
    <p class="text-center text-white">Choose whichever character you like better.</p>
    <p class="text-center text-white">Enjoy!</p>
  </div>
  <app-spinner *ngIf="(loaderService.isLoading | async) && !voting"></app-spinner>
  <div class="flex flex-wrap flex-row gap-1 items-center justify-center w-full">
    <app-card *ngIf="rivals[0] != null && (!voting || votedLeft)" [isClicked]="voting" [data]="rivals[0]"
      [isRight]="false" (click)="rateCharacters(0,1, true)"></app-card>
    <app-card *ngIf="rivals[1] != null && (!voting || !votedLeft)" [isClicked]="voting" [data]="rivals[1]"
      [isRight]="true" (click)="rateCharacters(1,0, false)">
    </app-card>
  </div>
  <span></span>
  <h1 class="text-white text-4xl">Top 10</h1>
  <app-table [characters]="characters.slice(0, 9)"></app-table>
  <span class="flex-1"></span>
  <p class="m-1 text-white">Copyright {{currentYear}} Gabriel Kaszewski</p>
</div>