@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body {
    min-height: 100%;
}
